# JetBrains IDEA local directory
.idea/

# Data directory
data/**

# Twitter data directory
src/twitter/data/
src/twitter/dumps/

#IPython checkpoints
**/.ipynb_checkpoints/

#Python trash
**/__pycache__/
*/*.DS_Store
**/*.pyc

